/* General reset and defaults */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('../images/wallpaper-min.png') !important;
    background-size: cover !important;
}

/* Styling for text */
p,
#counter,
#result,
.start-text,
.question-text,
.result-message {
    color: #271c19;
    font-weight: 600;
}

#logo {
    height: 50px;
    margin: 0 20px;
}

#heading {
    display: flex;
    text-align: center;
    justify-content: center;
}
#heading2 {
    display: flex;
    justify-content: space-around;
}
/* Styling for container */
#username-container,
#quiz-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 100px auto 0;
    width: 90%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for heading */
#username-container h2,
#quiz-container h1 {
    color: #5A3D34;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 30px;
}

/* Alert message */
.swal2-confirm {
    background-color: #55423d !important;
}

.question-text,
.result-message {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Styling for buttons */
button,
.answer {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

button {
    background-color: #716040;
    color: #f9f4ef;
    border: none;
    padding: 10px 30px;
}

button:hover {
    background-color: #c9473b;
}

.answer {
    margin: 5px 0;
    background-color: #55423d;
    color: #fffffe;
    border: 3px solid #271c19;
    transition: background-color 0.3s;
}

.answer:hover {
    background-color: #ffc0ad;
    color: #271c19;
}

#result {
    margin-top: 20px;
}

/* Styling for 404 page */
#error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#error-container {
    background: white !important;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#error-container h1 {
    font-size: 40px;
    color: #5A3D34;
}
#error-container p {
    font-size: 16px;
    color:#271c19;
    margin: 20px 0;
}
#go-back-button {
    display: inline-block;
    padding: 10px 30px;
    font-size: 18px;
    color: #f9f4ef;
    background-color: #716040;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
#go-back-button:hover {
    background-color: #c9473b;
}
/* Media queries */
@media (max-width: 390px) {
    #logo {
        margin: 0;
    }

    #username-container {
        margin-top: 50px;
    }

    .user-input {
        margin-top: 30px;
    }

    #quiz-container {
        margin: 50px auto 0;
    }

    #quiz-container h1 {
        color: #020826;
        font-size: 20px;
        padding-bottom: 16px;
    }

    .question-text {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .answer {
        padding: 8px;
        margin: 3px 0;
    }

    button {
        padding: 8px 24px;
        margin-top: 16px;

    }

    #result {
        margin-top: 50px;
    }

    #error-container h1 {
        font-size: 30px;
    }

    #error-container p {
        font-size: 12px;
    }

    #go-back-button {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .user-input {
        margin-top: 40px;
    }
}